name: GitHub Actions Vercel Production Deployment
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
on:
  push:
    branches:
      - main
jobs:
  Deploy-Production:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: 安装Vercel
        run: npm install --global vercel@canary
      - name: 推送Vercel环境信息
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}
      - name: 对项目进行打包
        run: vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}
      - name: 部署项目
        run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}